
  body {
    overflow: hidden;
    height: 650px;
    width: 432px;
    background: url('chrome-iphone6-432x882@2x.jpg');
    background-position: 400px 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .contain {
  	overflow: scroll;
  	position: absolute;
  	top: 86px;
  	left: 417px;
  	background-color: white;
    max-width: 285px;
    max-height: 505px;
  }
  .videolarge {
    text-align: center;
  }
  .row {
  	padding-left: 8%;
  	padding-right: 8%;
  }
  .image {
    max-width: 285px;
    max-height: 515px;
  }
  .examples {
    height: 700px;
  }
  .outside {
    position: absolute;
    top: 45px;
  }
  .extra {
    padding-top: 20px;
  }
  .outside .links a {
    padding-right: 10px;
  }
  .leftdisplay .links a {
    padding-right: 10px;
  }
  h4 {
      max-height: 10px;
  }
  .leftdisplay {
      position: absolute;
      top: 50px;
      display: none;
  }
  .insideText {
      display: none;
    }
  .mobileshow {
    display: none;
  }
  @media screen and (min-width: 1050px) {
    .outsideright {
      position: absolute;
      top: 95px;
      right: 20px;
      width: 355px;
    }
  }
  @media screen and (max-width: 1050px) {
    .outsideright {
      display: none;
    }
    .outside {
      display: none;
    }
    .leftdisplay {
      display: block;
    }
  }
  @media screen and (max-width: 700px) {
    .leftdisplay {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
    }
    .mobilehide {
      display: none;
    }
    .mobileshow {
      display: block;
    }
    .inactive {
      color: black;
      pointer-events: none;
      cursor: default;
    }
    body {
      display: block;
      background: none;
      position: relative;
      height: 100%;
      width: 100%;
    }
    .outsideright {
      display: none;
    }
    .outside {
      display: none;
    }
    .contain {
      display: none;
    }
  }